<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>366324403813-6dlf01onu0vvqar4ap64mjknl8527niq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.366324403813-6dlf01onu0vvqar4ap64mjknl8527niq</string>
	<key>API_KEY</key>
	<string>AIzaSyCcPxQFSx9JHEETOpTNO8XDmRuatpP3B38</string>
	<key>GCM_SENDER_ID</key>
	<string>366324403813</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.phunware.kmeetup</string>
	<key>PROJECT_ID</key>
	<string>meetup-chat-4ca0e</string>
	<key>STORAGE_BUCKET</key>
	<string>meetup-chat-4ca0e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:366324403813:ios:d76122748273f334</string>
	<key>DATABASE_URL</key>
	<string>https://meetup-chat-4ca0e.firebaseio.com</string>
</dict>
</plist>